# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
S.A.G.E/.vs/S.A.G.E/v17/Solution.VC.db-wal
S.A.G.E/.vs/S.A.G.E/v17/Solution.VC.db-shm
S.A.G.E/.vs/S.A.G.E/v17/Solution.VC.db
S.A.G.E/.vs/S.A.G.E/v17/ipch/f9466fadcfc3c85c.ipch
S.A.G.E/.vs/S.A.G.E/v17/ipch/f635f1bee5ffc709.ipch
S.A.G.E/.vs/S.A.G.E/v17/ipch/f05275fbb496892e.ipch
S.A.G.E/.vs/S.A.G.E/v17/ipch/ece83e95f6d49c22.ipch
S.A.G.E/.vs/S.A.G.E/v17/ipch/AutoPCH/93d100d699b7fe19/GAMESTATE.ipch
S.A.G.E/.vs/S.A.G.E/v17/ipch/AutoPCH/7cd676dd61cd82b2/WINMAIN.ipch
S.A.G.E/.vs/S.A.G.E/v17/ipch/AutoPCH/7c6fcb493dea3333/IMPLOT.ipch
S.A.G.E/.vs/S.A.G.E/v17/ipch/AutoPCH/6c70c6f61a648899/GAMESTATE.ipch
S.A.G.E/.vs/S.A.G.E/v17/ipch/AutoPCH/60db86a7b3860ffa/ML.ipch
S.A.G.E/.vs/S.A.G.E/v17/ipch/AutoPCH/5bd8fd9d3509dbc0/CAMERACONTROLLERCOMPONENT.ipch
S.A.G.E/.vs/S.A.G.E/v17/ipch/AutoPCH/46e45eabea9a790e/APPLOG.ipch
S.A.G.E/.vs/S.A.G.E/v17/ipch/AutoPCH/45f542b394d5d847/IMGUI_WIDGETS.ipch
S.A.G.E/.vs/S.A.G.E/v17/ipch/AutoPCH/45dfbb1441b051e5/IMGUI.ipch
S.A.G.E/.vs/S.A.G.E/v17/ipch/AutoPCH/4507f58bed6a6ddc/GAMESTATE.ipch
S.A.G.E/.vs/S.A.G.E/v17/ipch/AutoPCH/416d4351db209510/GAMESTATE.ipch
S.A.G.E/.vs/S.A.G.E/v17/ipch/AutoPCH/3534dbe8892ce0c2/APPLOG.ipch
S.A.G.E/.vs/S.A.G.E/v17/ipch/AutoPCH/30e3ea251557a760/PRECOMPILED.ipch
S.A.G.E/.vs/S.A.G.E/v17/ipch/AutoPCH/22d9e8f28ca27499/IMGUI_TABLES.ipch
S.A.G.E/.vs/S.A.G.E/v17/ipch/AutoPCH/1a4e56229ac0f61f/IMGUI_DEMO.ipch
S.A.G.E/.vs/S.A.G.E/v17/ipch/AutoPCH/18df71a8124edb91/GAMESTATE.ipch
S.A.G.E/.vs/S.A.G.E/v17/ipch/AutoPCH/1152ff0ac9e252fe/IMGUI_DRAW.ipch
S.A.G.E/.vs/S.A.G.E/v17/ipch/9ed248d8ad733b9f.ipch
S.A.G.E/.vs/S.A.G.E/v17/ipch/75f69fddef84ab4d.ipch
S.A.G.E/.vs/S.A.G.E/v17/ipch/432b86595568135.ipch
S.A.G.E/.vs/S.A.G.E/v17/ipch/3be39489c342460d.ipch
S.A.G.E/.vs/S.A.G.E/v17/fileList.bin
S.A.G.E/.vs/S.A.G.E/v17/Browse.VC.opendb
S.A.G.E/.vs/S.A.G.E/v17/Browse.VC.db-wal
S.A.G.E/.vs/S.A.G.E/v17/Browse.VC.db-shm
S.A.G.E/.vs/S.A.G.E/v17/Browse.VC.db
S.A.G.E/.vs/S.A.G.E/v17/.suo
S.A.G.E/.vs/S.A.G.E/FileContentIndex/b5837573-8a44-4bd0-843a-1be55de1ca26.vsidx
S.A.G.E/.vs/S.A.G.E/FileContentIndex/9db4af37-66d7-4127-a51c-990412cd9e2e.vsidx
S.A.G.E/.vs/S.A.G.E/FileContentIndex/926ba1b5-f759-49f3-a39a-0d8c100cef2b.vsidx
S.A.G.E/.vs/S.A.G.E/FileContentIndex/79971031-2634-45ca-9ddc-fb27f5342958.vsidx
S.A.G.E/.vs/S.A.G.E/FileContentIndex/42b1e9b7-5222-4456-9816-3a2aa49600df.vsidx
S.A.G.E/.vs/S.A.G.E/FileContentIndex/bb20e787-f634-4049-8ebc-e37199ee4487.vsidx
*.vsidx
